apiVersion: apps/v1
kind: Deployment
metadata:
  name: kupid
spec:
  replicas: 1
  revisionHistoryLimit: 10
  template:
    metadata:
      labels: {}
    spec:
      containers:
      - image: kupid
        imagePullPolicy: Always
        name: kupid
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
        ports:
        - containerPort: 9443
          name: webhook
          protocol: TCP
        - containerPort: 8080
          name: healthz
          protocol: TCP
        - containerPort: 8081
          name: metrics
          protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 20Mi
      terminationGracePeriodSeconds: 10