resources:
- namespace.yaml
- deployment.yaml
- service.yaml

configurations:
- kustomizeconfig.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: kupid
  newName: eu.gcr.io/gardener-project/gardener/kupid
  newTag: v0.4.0-dev
