apiVersion: {{ include "deploymentversion" . }}
kind: Deployment
metadata:
  name: {{ include "name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    high-availability-config.resources.gardener.cloud/type: server
{{ include "labels" . | indent 4 }}
spec:
  priorityClassName: gardener-system-900
  revisionHistoryLimit: 0
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
{{ include "labels" . | indent 6 }}
  template:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/name: "kupid"
      prometheus.io/port: {{ .Values.metricsPort }}
    metadata:
      labels:
{{ include "labels" . | indent 8 }}
    spec:
      serviceAccountName: {{ include "name" . }}
      containers:
      - name: kupid
        image: {{ include "image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /kupid
        - --webhook-port={{ .Values.webhookConfig.serverPort }}
        - --register-webhooks=true
        - --webhook-timeout-seconds={{ .Values.webhookConfig.timeoutSeconds }}
        - --cert-dir=/var/kupid/certs
{{- if .Values.logging.level }}
        - --v={{ .Values.logging.level }}
{{- end }}
        env:
        - name: WEBHOOK_CONFIG_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.healthPort }}
          initialDelaySeconds: 30
          periodSeconds: 5
        ports:
        - containerPort: {{ .Values.webhookConfig.serverPort }}
          name: webhook-server
          protocol: TCP
        - containerPort: {{ .Values.healthPort }}
          name: healthz
          protocol: TCP
        - containerPort: {{ .Values.metricsPort }}
          name: metrics
          protocol: TCP
{{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
{{- end }}
        volumeMounts:
        - mountPath: /var/kupid/certs
          name: certs
      volumes:
      - name: certs
        emptyDir: {}
